body {
  min-width: 380px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Inter-Regular;
  background-color: var(--color-background-medium);
  color: var(--color-text-dark);
  padding: var(--spacing-large);
}
/* ------------------- */
.countries-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
  padding: var(--spacing-large) var(--spacing-medium);
}
.countries-header__title {
  text-align: center;
  font-family: Volkhov-Regular;
}
/* ------------------- */
main {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  font-family: Inter-Regular;
}
/* ------------------- */
.explore-countries {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
/* ------------------- */
.search-form {
  width: 100%;
  padding-top: var(--spacing-large);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form label {
  display: none;
}
.search-form__input {
  min-width: 260px;
  height: 48px;
  border-top-left-radius: var(--border-radius-small);
  border-bottom-left-radius: var(--border-radius-small);
  padding: 0 var(--spacing-x-small);
}
.search-form__submit-button {
  min-width: 64px;
  height: 48px;
  background-color: var(--color-background-dark);
  font-family: Inter-Regular;
  color: var(--color-text-light);
  border: none;
  border-top-right-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  transition: background-color 0.3s;
}
.search-form__submit-button:hover {
  background-color: var(--color-button-hover);
}
.search-form__error-message {
  min-height: 48px;
  text-align: center;
  padding-top: var(--spacing-small);
  font-family: Inter-Bold;
  color: var(--color-text-error);
}
/* ------------------- */
.country-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.country-card__list-title {
  font-family: Volkhov-Regular;
}
.country-card__image {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/world-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius-medium);
}
.country-card {
  display: none;
  width: 60%;
  height: 100%;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
}
.country-card__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
.country-card__list-item {
  display: flex;
  gap: var(--spacing-x-small);
}
.country-card__list-item > * {
  display: inline-block;
}
.country-card__list-item p {
  line-break: auto;
  hyphens: auto;
}
.country-card__flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-large);
}
.country-card__flag-container img {
  width: 150px;
  height: auto;
  object-fit: fill;
  box-shadow: 0 0 4px 2px var(--color-background-dark);
}
.back-button {
  position: fixed;
  top: 32px;
  left: 32px;
}
.back-button__logo {
  color: var(--color-text-dark);
}
@media screen and (max-width: 1400px) {
  .country-card {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .explore-countries {
    width: 100%;
    font-size: var(--font-size-base);
  }
  .country-card {
    width: 100%;
  }
}
